/* For the hero section */
.hero {
    background: url('src/assets/chad-montano-eeqbbemH9-c-unsplash.jpg') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
  }
  
  